/* General styles for the home page */
.home-page {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Hero banner styles */
  .hero-banner {
    background-image: url('../assets/hero.png'); /* Replace with your image URL */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px; /* Adjust the height as needed */ 
    color: white;
    text-align: center;
    padding: 20px;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 99%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 99%);
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .hero-content p {
    font-size: 1.25rem;
  }
  
  /* Call to action section */
  .cta-section {
    background-color: #f8f9fa;
    padding: 50px 20px;
    text-align: center;
  }
  
  .cta-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .cta-button {
    font-size: 1.25rem;
    padding: 10px 20px;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  